<!doctype html>
<html>
<head>
<script type="text/javascript" language="JavaScript">
    var STORE_URL = '{$_STORE_URL}';
    var STATIC_URL = '{$_STATIC_URL}';
    var STATIC_CDN = '{$_STATIC_CDN}';
</script>
{include file="page/template/inc/header.html"}
<!-- USER DEFINED ASSETS -->
<meta charset="utf-8">
<meta name="author" content="上海科匠信息科技有限公司" />
<meta name="copyright" content="上海科匠信息科技有限公司-www.bluemobi.cn" />
<meta content="Android开发,IOS开发,APP开发,微信微博,商业策略,咨询设计,定制研发,用户推广,联合运营" name="keywords">
<meta content="蓝色互动（上海科匠信息科技有限公司）成立于2005年，始终致力于行业移动整体解决方案的商业策略、咨询设计、定制研发和用户推广等。公司注册资本人民币1000多万，现有技术人员400余人，在北京、洛杉矶、深圳等其它城市均设有技术服务网络。我们通过自身的奋斗、专业与服务，获得了从全球500强到创业个人不同类型客户的信任和青睐。" name="description">
<meta name="viewport" content="width=320,init-scale=1,user-scalable=0" />
<!-- USER DEFINED ASSETS END@-->
<title>蓝色互动-可能是中国最大的O2O方案提供商-Android|IOS|APP|微信</title>
</head>