{$wrapper_prefix|default}
<script src="{$_STATIC_URL}/trend/admin/js/version.edit.js"></script>
<section class="hbox stretch">
    <aside>
        <section class="vbox">
            <section class="scrollable wrapper">
                <section class="panel panel-default">
                    <div class="table-responsive">
                        <!-- <table class="table table-striped m-b-none datagrid " > -->
	                        </div>
	                            <form  class="form-horizontal" id="edit_form" action="/trendmadmin/version/versionadd" method="post" enctype="multipart/form-data">
                    				<div class="form-group">
                        				<label for="web_code" class="col-sm-2 control-label"><font class="red">* </font>服务端版本</label>
                        				<div class="col-sm-4">
                            				<input type="text" class="form-control" id="web_code" name="web_code" value="{$content.web_code}" placeholder="请输入服务端版本" />
                        				</div>
                    				</div>
                    				<div class="line line-dashed line pull-in"></div>
                    				<div class="form-group">
                        				<label for="ios_code" class="col-sm-2 control-label"><font class="red">* </font>ios端版本</label>
                        				<div class="col-sm-4">
                            				<input type="text" class="form-control" id="ios_code" name="ios_code" value="{$content.ios_code}" placeholder="请输入ios端版本" />
                        				</div>
                    				</div>
                    				<div class="line line-dashed line pull-in"></div>
                    				<div class="form-group">
                        				<label for="android_code" class="col-sm-2 control-label"><font class="red">* </font>android端版本</label>
                        				<div class="col-sm-4">
                            				<input type="text" class="form-control" id="android_code" name="android_code" value="{$content.android_code}" placeholder="请输入android端版本" />
                        				</div>
                    				</div>
                    				<div class="line line-dashed line pull-in"></div>
                    				<div class="form-group">
                        				<label for="guide_url" class="col-sm-2 control-label"><font class="red">* </font>升级引导页url</label>
                        				<div class="col-sm-4">
                            				<input type="text" class="form-control" id="guide_url" name="guide_url" value="{$content.guide_url}" placeholder="升级引导页url" />
                        				</div>
                    				</div>
                    				<div class="line line-dashed line pull-in"></div>
                    				<div class="form-group">
                        				<label class="col-sm-2 control-label">状态</label>
                        				<div class="col-sm-4">
                            				<label class="checkbox-inline p-left-0">
                                				<input type="radio" name="status" value="1" {if $content.status == '1'}checked="checked"{else}checked="checked" {/if}/>&nbsp;开启
                            				</label>
                            				<label class="checkbox-inline">
                                				<input type="radio" name="status" value="0" {if $content.status == '0'}checked="checked"{/if} />&nbsp;不开启
                            				</label>
                        				</div>
                    				</div>
                    				<input type="button" id="submit_save_back" class="btn btn-s-md btn-primary btn-sm input-submit" value="提交"></input>
									<span id="edit_notice"></span>
								</form>
							<div>
	                            </br>
	                            </br>
	                            </br>
	                            </br>
	                            </br>
	                            </br>
	                            </br>
	                            </br>
	                            </br>
	                            </br>
	                            </br>
	                            </br>
	                        </div>
                        <!-- </table> -->
                    </div>
                </section>
            </section>
        </section>
    </aside>
</section>
<script type="text/javascript">
    var ckeditor1;
    
    var config = {
            extraPlugins: 'codesnippet',
            codeSnippet_theme: 'monokai_sublime',
            height: 500
        };
    
    if (typeof CKEDITOR == 'object') {
        if (CKEDITOR.instances['editor1']) {
            CKEDITOR.remove(CKEDITOR.instances['editor1']);
        }
        ckeditor1 = CKEDITOR.replace('editor1', config);
    }
    
</script>  
{$wrapper_suffix|default}
