
<section class="edit-map wrapper" id="edit_base">
    <div class="form-group">
        <label class="col-sm-2 control-label"><font class="red">* </font>所属页面</label>
        <div class="col-sm-6">
            <select id="page_id" name="page_id" class="form-control">
                <option value="0">请选择</option>
                {foreach from=$pages item=v}
                <option value="{$v.page_id}" {if $v.page_id == $content.page_id}selected{/if}>{$v.title}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="line line-dashed line pull-in"></div>
            
    <div class="form-group">
        <label class="col-sm-2 control-label"><font class="red">* </font>广告类型</label>
        <div class="col-sm-6">
            <select id="type" name="type" class="form-control">
                <option value="1" {if $content.type == 1}selected{/if}>图片</option>
                <option value="2" {if $content.type == 2}selected{/if}>文字</option>
                <option value="3" {if $content.type == 3}selected{/if}>Flash</option>
                <option value="4" {if $content.type == 4}selected{/if}>视频</option>
                <option value="5" {if $content.type == 5}selected{/if}>轮播</option>
            </select>
        </div>
    </div>
    <div class="line line-dashed line pull-in"></div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label"><font class="red">* </font>所属广告位</label>
        <div class="col-sm-6">
            <select name="board_id" id="board_id" class="form-control">
                <option value="0">请选择</option>
            </select>
            <input type="hidden" id="board_id_edit" name="board_id_edit" value="{$content.board_id}" />
        </div>
    </div>
    <div class="line line-dashed line pull-in"></div>
    
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label"><font class="red">* </font>广告标题</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="title" name="title" value="{$content.title}" placeholder="请输入广告标题" />
        </div>
    </div>
    <div class="line line-dashed line pull-in"></div>
    
    <div class="form-group">
        <label for="content" class="col-sm-2 control-label">广告详情</label>
        <div class="col-sm-6">
            <textarea id="content" name="content" class="form-control" placeholder="请输入广告详情">{$content.content}</textarea>
        </div>
    </div>
    <div class="line line-dashed line pull-in"></div>
            
    <div id="for_type" {if $content.type == 2}class="default-hidden"{/if}>
        <div class="form-group m-b-xs file-reset">
            <label class="col-sm-2 control-label">上传附件</label>
            <div class="col-sm-6">
                <input type="file" name="attachment" id="attachment" class="filestyle" data-icon="false" data-buttonText="上传附件" data-classbutton="btn btn-default" data-classinput="form-control inline input-s" />
                {if $content.attachmentid}
                <a href="{$attachment.filepath}" class="thumb-sm" target="_blank"><img src="{$attachment.filepath}" /></a>
                {/if}
            </div>
        </div>
        <div class="line line-dashed line pull-in"></div>
    </div>
            
    <div class="form-group">
        <label for="count" class="col-sm-2 control-label">点击次数</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="count" name="count" value="{$content.count}" placeholder="输入数量以预设点击次数" />
        </div>
    </div>
    <div class="line line-dashed line pull-in"></div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label">生效时间</label>
        <div class="col-sm-6">
            <input id="start_time" name="start_time" class="input-sm input-s datepicker-input form-control" type="text" 
                    data-date-format="yyyy-mm-dd" value="{$content.start_time|truncate:10:'':true}" placeholder="点击选择生效时间" />
        </div>
    </div>
    <div class="line line-dashed line pull-in"></div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label">结束时间</label>
        <div class="col-sm-6">
            <input id="end_time" name="end_time" class="input-sm input-s datepicker-input form-control" type="text" 
                    data-date-format="yyyy-mm-dd" value="{$content.end_time|truncate:10:'':true}" placeholder="点击选择结束时间" />
        </div>
    </div>
    <div class="line line-dashed line pull-in"></div>
    
    <div class="form-group">
        <label for="sort_order" class="col-sm-2 control-label">序号</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="sort_order" name="sort_order" value="{if $content.sort_order}{$content.sort_order}{else}0{/if}" />
        </div>
    </div>
    <div class="line line-dashed line pull-in"></div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label">状态</label>
        <div class="col-sm-6">
            <label class="checkbox-inline p-left-0">
                <input type="radio" {if $content.status == 1}checked{/if} name="status" value="1" /> 启用
            </label>
            <label class="checkbox-inline p-left-0">
                <input type="radio" {if $content.status == '0'}checked{/if} name="status" value="0" /> 关闭
            </label>
        </div>
    </div>
</section>
