<link href="{$_STATIC_URL}/goods/admin/css/category.edit.css" rel="stylesheet" type="text/css" />
<script src="{$_STATIC_URL}/goods/admin/js/category.js" type="text/javascript"></script>

{include file="content.top.html"}

<form name="editForm" id="edit_form" action="/goodsadmin/category/add" method="post">
    <div id="content_body">
        <div class="main-top">
            <span class="nav-now">{if $category}编辑分类{else}添加分类{/if}</span>
        </div>
        
        <div class="main-content main-content-edit">
            <div class="form-element">
                <label class="req">父级分类:</label>
                <div>
                    <select class="input-text" name="parent_id">
                        <option value="0">请选择父级分类</option>
                        {foreach from=$categories item=v}
                        <option value="{$v.category_id}" {if $v.category_id eq $category.parent_id}selected{/if}>{$v.str_padding}{$v.title}</option>
                        {/foreach}
                    </select>
                    <span class="eg ht0">&nbsp;</span>
                </div>
            </div>
            
            <div class="form-element">
                <label class="req" for="title"><font class="red-star">*</font>分组名称:</label>
                <div>
                    <input type="text" name="title" id="title" size="60" class="input-text required" value="{$category.title}" />
                    <span class="eg ht0">&nbsp;</span>
                </div>
            </div>
             
            <div class="form-element">
	                <label class="req" for="icon_url">图片:</label>
	                <div>
	                    <input type="file" name="icon_url" id="icon_url" size="60" class="input-text required"  />
	                    <span class="eg">&nbsp;</span>
	                </div>
	       	</div>
	       	 
            <div class="form-element">
                <label class="req" for="sort_order">序号:</label>
                <div>
                    <input type="text" name="sort_order" id="sort_order" size="60" class="input-text required" value="{if $category}{$category.sort_order}{else}255{/if}" />
                    <span class="eg ht0">&nbsp;</span>
                </div>
            </div>
            
            <!-- 
            <div class="form-element">
                <label class="req">分组说明:</label>
                <div class="form-element-right">
                    <textarea name="body" id="editor1" rows="10" class="input-text ckeditor">{$group.content}</textarea>
                    <span class="eg ht0">&nbsp;</span>
                </div>
            </div> 
            -->
        </div>
        
        <div class="main-bottom">
            <input type="button" id="submit_save_back" value="保存并返回列表管理" class="input-submit" />
            {if ! $category}<input type="button" id="submit_save_continue" value="保存并继续添加" class="input-submit" />{/if}
            <input type="button" id="submit_cancel" value="取&nbsp;&nbsp;消" class="input-submit" />
            <input type="hidden" name="category_id" value="{$category.category_id}" />
            <span id="edit_notice"></span>
        </div>
    </div>
</form>
