<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" CONTENT="-1">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <link rel="stylesheet" href="{$_STATIC_URL}/promotion/css/resets.css">
    <link rel="stylesheet" href="{$_STATIC_URL}/promotion/css/styles.css">
    <title>主页</title>
    <script src="{$_STATIC_CDN}/scripts/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
<div class="item row">
    <div class="left col-1">
        <a href="javascript:;" class="active">
            <h1><span>6.18</span> 有惊喜</h1>
            <img src="{$_STATIC_URL}/promotion/images/img1.jpg" alt="" />
        </a>
    </div>
    <div class="right col-2">
        <div class="right_top row">
            <div class="right_top_left col-3" style="border-right: 1px dashed #e4dddd;">
                <a href="javascript:;" class="coupon" >
                    <h1>领取优惠券</h1>
                    <h2>买一送一</h2>
                    <img src="{$_STATIC_URL}/promotion/images/img2.jpg" alt=""/>
                </a>
            </div>
            <div class="right_top_right col-1">
                <a href="javascript:;" class="brand">
                    <h1>品牌墙</h1>
                    <h2>一元专场</h2>
                    <img src="{$_STATIC_URL}/promotion/images/img3.jpg" alt="" />
                </a>
            </div>
        </div>
        <div class="right_bottom" style="border-top: 1px dashed #e4dddd;">
            <a href="javascript:;" class="import">
                <h1>进口食品</h1>
                <h2>萌萌哒</h2>
                <img src="{$_STATIC_URL}/promotion/images/img4.jpg" alt="" />
            </a>
        </div>
    </div>
</div>
<script src="{$_STATIC_URL}/promotion/js/promotion.index.js?v=9" type="text/javascript"></script>
</body>
</html>
