<div id="footer">
    <div id="footer_in">
        <ul class="ft_list">
            <li class="href">
                <a href="/page/index/join">招商加盟</a><span>|</span>
                <a href="/page/index/contact">联系我们</a><span>|</span>
                <a href="/job">人才招聘</a><span>|</span>
                <a href="/page/index/team">管理团队</a><span>|</span>
                <a href="/page">公司简介</a><span>|</span>
                <a href="/page/index/legalize">公司资质</a>
            </li>
            <li>CopyRight  2012-2015 上海科匠信息科技有限公司 All Rights Reserved</li>
            <li>QQ客服 （QQ）：4000219190<span>|</span> 咨询热线：400-021-9190</li>
            <li>版权所有 沪ICP备13010724号</li>
        </ul>
        
        <div class="meager">
        
            <div class="meager_left">
                <img src="{$_STATIC_CDN}/images/weibo.jpg"> 
                <p>官方微信</p>
            </div>
            <div class="meager_left meager_right">
                <img src="{$_STATIC_CDN}/images/weixin.jpg"> 
                <p>官方微博</p>
            </div>
        
        </div>
    
    </div>
</div>