<div id="header">
  <div id="header_in">
        <div class="logo">
            <a href="#"><img src="{$_STATIC_CDN}/images/logo.jpg" alt="蓝色互动"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="/">首页</a></li>
            <li><a href="/article/industry/index/category/13">行业解决方案</a></li>
            <li><a href="/article/service/index/category/14">服务</a></li>
            <li><a href="/article/case/index/category/2">案例展示</a></li>
            <li><a href="/advert/link">合作伙伴</a></li>
            <li><a href="/article/news/index/category/1">行业资讯</a></li>
            <li><a href="http://www.vjmobi.com">微匠</a></li>
        </ul>
        <div class="phone">400-021-9190</div>
    </div>
</div>