			    </section>
		    </section>
		    
	        <aside class="bg-light lter b-l aside-md hide" id="nav_right">
	            <section class="vbox">
                    <header class="b-b header"><p class="h4">搜索结果</p></header>
                    <section class="scrollable w-f">
		                <ul class="nav nav-pills nav-stacked no-radius">
		                    
		                </ul>
		            </section>
                </section>
	        </aside>
        </section>
    </section>
    
    <footer class="footer bg-light dk padder-t">
        <div class="text-center padder">
	        <p>
	            <small>上海科匠信息科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&copy; 2014</small>
	        </p>
	    </div>
    </footer>
</section>
<!-- /.vbox -->