{$wrapper_prefix|default}

<script src="{$_STATIC_URL}/store/admin/js/index.detail.js" type="text/javascript"></script>

<section class="hbox stretch">
    <aside class="aside-md bg-white b-r">
        <section class="vbox">
            <header class="header bg-white b-b clearfix">
                <div class="row m-t-sm">
                    <div class="col-sm-8 m-b-xs">
                        <a href="javascript:;" class="btn btn-sm btn-default" id="button_cancel"><i class="fa fa-reply"></i> 返回</a>
                        <font class="h4 v-middle padder">店铺详情
                        {if $store.store_name} - {$store.store_name}
                        {else if $store.company_name} - {$store.company_name}
                        {/if}
                        </font>
                    </div>
                </div>
            </header>
              
            <section class="scrollable wrapper">
                <section class="panel panel-default portlet-item">
	                <header class="panel-heading">基本信息</header>
		            <table class="table table-striped2 m-b-none text-sm">
                        <tbody>
                            <tr>                    
                                <td class="col-sm-2 text-right">公司名称</td>
                                <td class="col-sm-4">{$store.company_name}</td>
                                <td class="col-sm-2 text-right">店铺名称:</td>
                                <td class="col-sm-4">{$store.store_name}</td>
                            </tr>
                            
                            <tr>                    
                                <td class="col-sm-2 text-right">签约开始时间</td>
                                <td class="col-sm-4">{$store.signing_time_start|truncate:10:'':true}</td>
                                <td class="col-sm-2 text-right">签约结束时间</td>
                                <td class="col-sm-4">{$store.signing_time_end|truncate:10:'':true}</td>
                            </tr>
                            
                            <tr>                    
                                <td class="col-sm-2 text-right">所在地区</td>
                                <td class="col-sm-4">{$store.region_name}</td>
                                <td class="col-sm-2 text-right">详细地址</td>
                                <td class="col-sm-4">{$store.address}</td>
                            </tr>
                            
                            <tr>                    
                                <td class="col-sm-2 text-right">主营业务</td>
                                <td class="col-sm-4">{$store.business_categoryids}</td>
                                <td class="col-sm-2 text-right">公司法人</td>
                                <td class="col-sm-4">{$store.legalp_name}</td>
                            </tr>
                            
                            <tr>                    
                                <td class="col-sm-2 text-right">营业执照号码</td>
                                <td class="col-sm-4">{$store.business_license}</td>
                                <td class="col-sm-2 text-right">营业执照图片</td>
                                <td class="col-sm-4">
                                    {if $store.business_image}
                                    <a href="/uploads{$store.business_image}" class="thumb-sm" target="_blank"><img src="/uploads{$store.business_image}" /></a>
                                    {/if}
                                </td>
                            </tr>
                            
                            <tr>                    
                                <td class="ccol-sm-2 text-right">公司电话</td>
                                <td class="col-sm-4">{$store.tel}</td>
                                <td class="ccol-sm-2 text-right">公司传真</td>
                                <td class="col-sm-4">{$store.fax}</td>
                            </tr>
                            
                            <tr>                    
                                <td class="ccol-sm-2 text-right">公司邮箱</td>
                                <td class="col-sm-4">{$store.email}</td>
                                <td class="ccol-sm-2 text-right">是否审核</td>
                                <td class="col-sm-4">{if $store.is_verify == 1}审核通过{else if $store.is_verify == -1}审核未通过{else}带审核{/if}</td>
                            </tr>
                            
                            {if $store.is_verify == -1}
                            <tr>                    
                                <td class="ccol-sm-2 text-right">审核未通过原因</td>
                                <td class="col-sm-4" colspan="3">{$store.rejection_reason}</td>
                            </tr>
                            {/if}
                        </tbody>
                    </table>
                </section>
                
                <section class="panel panel-default portlet-item">
                    <header class="panel-heading">账户信息</header>
                    <table class="table table-striped2 m-b-none text-sm">
                        <tbody>
                            <tr>                    
                                <td class="ccol-sm-2 text-right">用户名</td>
                                <td class="col-sm-10">{$user_info.username}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                
                <section class="panel panel-default portlet-item">
                    <header class="panel-heading">店铺设置</header>
                    <table class="table table-striped2 m-b-none text-sm">
                        <tbody>
                            <tr>                    
                                <td class="ccol-sm-2 text-right">店铺名称</td>
                                <td class="col-sm-4">{$store.store_name}</td>
                                <td class="ccol-sm-2 text-right">店铺 Logo</td>
                                <td class="col-sm-4">
                                    {if $store.logo}
						            <a href="/uploads{$store.logo}" class="thumb-sm" target="_blank"><img src="/uploads{$store.logo}" /></a>
						            {/if}
                                </td>
                            </tr>
                            
                            <tr>                    
                                <td class="ccol-sm-2 text-right">发货地区</td>
                                <td class="col-sm-4">{$store.region_name_ship}</td>
                                <td class="ccol-sm-2 text-right">退货地址</td>
                                <td class="col-sm-4">{$store.address_return}</td>
                            </tr>
                            
                            <tr>                    
                                <td class="ccol-sm-2 text-right">退货条约</td>
                                <td class="col-sm-4" colspan="3">{$store.return_rule}</td>
                            </tr>
                            
                            <tr>                    
                                <td class="ccol-sm-2 text-right">发布商品是否需审核</td>
                                <td class="col-sm-4">{if $store.goods_verify == 1}是{else}否{/if}</td>
                                <td class="ccol-sm-2 text-right"></td>
                                <td class="col-sm-4"></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                
            </section>
        </section>
    </aside>
</section>

{$wrapper_suffix|default}