{include file="index/template/inc/header.html"}

<div class="advice">
    <h2 style="text-align: center; line-height:40px; font-size:16px; font-weight:bold;">返货业务公告</h2>
    <div class=" textcenter fontnormal fontcolorGray pubdate">发布日期：{$article.ctime}</div>
    <hr>
    <div style="text-align:center;">{$article.body}</div>
    <p style="text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;本文由校妆网（<a target="_top" title="http://www.xzhuang.com" type="url" href="http://www.xzhuang.com/">http：//www.xzhuang.com</a>）编辑，转载请注明！ </p>
</div>


{include file="index/template/inc/footer.html"}