{$wrapper_prefix|default}

<link rel="stylesheet" href="{$_STATIC_CDN}/scripts/jquery-ztree/3.5.15/css/zTreeStyle.css" type="text/css" />
<link rel="stylesheet" href="{$_STATIC_URL}/goods/admin/css/index.index.css" type="text/css" />
<script src="{$_STATIC_CDN}/scripts/jquery-ztree/3.5.15/js/jquery.ztree.core-3.5.min.js"></script>
<script src="{$_STATIC_URL}/goods/admin/js/index.index.js"></script>

<section class="hbox stretch">
    <aside>
        <section class="vbox">
            <header class="header bg-white b-b clearfix">
                <div class="row m-t-sm">
                    <div class="col-sm-5 m-b-xs">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-default action-refresh" title="刷新"><i class="fa fa-refresh"></i></button>
                        </div>
                        <div class="btn-group">
                        <a href="/goodsadmin/index/add" class="btn btn-sm btn-default load-content"><i class="fa fa-plus"></i> 新增其它产品</a>
                        </div>
                        <div class="btn-group">
                        <a href="/goodsadmin/index/addGoods" class="btn btn-sm btn-default load-content"><i class="fa fa-plus"></i> 新增债权产品</a>
                        </div>
                        <div class="btn-group">
                        <a href="/goodsadmin/index/editNewGoods" class="btn btn-sm btn-default load-content"><i class="fa fa-pencil"></i> 编辑新手产品</a>
                        </div>
                        <div class="btn-group">
                        <a href="/goodsadmin/index/editExperienceGoods" class="btn btn-sm btn-default load-content"><i class="fa fa-pencil"></i> 编辑体验金产品</a>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 m-b-xs text-right p-right-0">
		                <form class="form-inline">
		                    <div class="form-group">
                                <select name="goods_pattern" class="form-control input-sm">
                                    <option value="0">产品模式</option>
                                    <option value="1">新手</option>
                                    <option value="2">直购</option>
                                    <option value="3">预约</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <select name="goods_type" class="form-control input-sm">
                                    <option value="0">产品类型</option>
                                    <option value="1">债权</option>
                                    <option value="2">保险</option>
                                    <option value="3">资管</option>
                                    <option value="4">基金</option>
                                    <option value="5">信托</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <select name="goods_status" class="form-control input-sm">
                                    <option value="0">产品状态</option>
                                    <option value="1">销售中</option>
                                    <option value="2">已售罄</option>
                                    <option value="3">已下架</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <input type="text" class="input-sm form-control"
                                        name="goods_id" placeholder="产品编号" /> 
                            </div>
		                </form>
		            </div>
		            
                    <div class="col-sm-3 m-b-xs">
                        <div class="input-group">
                            <input type="text" name="key" class="input-sm form-control" placeholder="产品名称" />
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default action-refresh" type="button">搜索</button>
                            </span>
                        </div>
                    </div>
                </div>
            </header>
                
            <section class="scrollable wrapper">
                <section class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table table-striped m-b-none datagrid" id="content_listing">
                            <thead>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th class="row">
                                        <div class="datagrid-footer-left col-sm-6 text-center-xs m-l-n"
                                             style="display:none;">
                                            <div class="grid-controls m-t-sm">
                                                    <span>
                                                        <span class="grid-start"></span> -
                                                        <span class="grid-end"></span> （共
                                                        <span class="grid-count"></span>）
                                                    </span>
    
                                                <div class="select grid-pagesize dropup" data-resize="auto">
                                                    <button data-toggle="dropdown"
                                                            class="btn btn-sm btn-default dropdown-toggle">
                                                        <span class="dropdown-label"></span>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li data-value="5"><a href="#">5</a></li>
                                                        <li data-value="15" data-selected="true"><a href="#">15</a></li>
                                                        <li data-value="20"><a href="#">20</a></li>
                                                        <li data-value="50"><a href="#">50</a></li>
                                                        <li data-value="100"><a href="#">100</a></li>
                                                    </ul>
                                                </div>
                                                <span>/页</span>
                                            </div>
                                        </div>
    
                                        <div class="datagrid-footer-right col-sm-6 text-right text-center-xs"
                                             style="display:none;">
                                            <div class="grid-pager m-r-n">
                                                <button type="button" class="btn btn-sm btn-default grid-prevpage"><i
                                                        class="fa fa-chevron-left"></i></button>
                                                <!--<span>页</span>-->
    
                                                <div class="inline">
                                                    <div class="input-group dropdown combobox">
                                                        <input class="input-sm form-control" type="text">
    
                                                        <div class="input-group-btn dropup">
                                                            <button class="btn btn-sm btn-default" data-toggle="dropdown"><i
                                                                    class="caret"></i></button>
                                                            <ul class="dropdown-menu pull-right"></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span>/ <span class="grid-pages"></span></span>
                                                <button type="button" class="btn btn-sm btn-default grid-nextpage"><i
                                                        class="fa fa-chevron-right"></i></button>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
            </section>
        </section>
    </aside>
</section>
            
{$wrapper_suffix|default}